// admin
.admin{
    margin-left: 266px;
    min-height: 100vh
}

// adminContant
.table{
    margin-bottom: 63px;
    td, th{
        padding: 19px 8px 17px 8px;
    }
}

// adminPagination
.page-link{
    color: $dark;
    &:hover{
        color: $white;
        background-color: $success;
    }
    &.active{
        color: $white;
        background-color: $success;
    }
}

// WatchAdminModal
.modal-body{
    img{
        width: 141px;
        height: 141px;
        object-fit: cover;
        border-radius: 2px;
    }
}

// WatchAdminModal-verfiedCollaps
.expand_more{ 
    display: none;
}
.expand_less{
    display: inline-block;
}
.collapsed .expand_more{
    display: inline-block;
}
.collapsed .expand_less{
    display: none;
}



/*
$font-size-special: 12px;
$font-sizes: (
  1: $font-size-base * 0.75, //12px
  2: $font-size-base * 0.875, //14px
  3: $font-size-base * 1.25, //20px
  4: $font-size-base * 1.5, //24px
  5: $font-size-special,
  6: $h6-font-size
) !default;

// Spacing
$spacer: 1rem !default;
$special-spacer: 12px;
$spacers: (
  0: 0,
  1: $spacer * .25, //4px
  2: $spacer * .5,  //8px
  3: $spacer, //16px
  4: $spacer * 1.5, //24px
  5: $spacer * 2, //32px
  6: $spacer * 3, //48px
  7: $special-spacer, //12px
  8: $special-spacer * 2, //24px
) !default;
*/