<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>

  <!-- material icon css -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- all.css -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- <div class="container "> -->
    <div class="sidebarMenu d-flex flex-column justify-content-between bg-light">
      <nav class="nav flex-column ">
        <h1 class="pt-5 px-5">
          <a class="logo" href="#">ANSWER</a>
        </h1>
        <a class="nav-link fw-bold py-7 px-5 d-flex align-items-center" aria-current="page" href="#">
          <span class="material-icons me-3">insert_chart</span>
          Dashboard
        </a>
        <a class="nav-link fw-bold py-7 px-5 d-flex align-items-center" href="#">
          <span class="material-icons me-3">question_answer</span>
          Question
        </a>
        <a class="nav-link fw-bold py-7 px-5 d-flex align-items-center <%= current === 'index' && 'active' %>" href="index.html">
          <span class="material-icons me-3">assignment</span>
          Assignment
        </a>
        <a class="nav-link fw-bold py-7 px-5 d-flex align-items-center" href="#">
          <span class="material-icons me-3">video_library</span>
          Course
        </a>
        <a class="nav-link fw-bold py-7 px-5 d-flex align-items-center <%= current === 'admin' && 'active' %>" href="admin.html">
          <span class="material-icons me-3">people</span>
          Admin
        </a>
        <a class="nav-link fw-bold py-7 px-5 d-flex align-items-center" href="#">
          <span class="material-icons me-3">settings</span>
          Settings
        </a>
      </nav>
    
      <div class="sidebarUser d-flex align-items-center p-5">
        <img class="rounded-circle me-3" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt="andychen">
        <div>
          <p class="fw-bold mb-1">Andy Chen</p>
          <a class="fs-2 text-muted" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
        </div>
      </div>
    </div>
  
  
  <%- contents %>
  <!-- </div> -->





    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>