body{
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
}

a{
    text-decoration: none;
    display: block;
    color: $success;
}

.btn-hover, .link-hover{
    &:hover{
        color: $success;
    }
}